<!DOCTYPE html>
<html ng-app="Bitly">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="Home">	
<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="btn btn-info navbar-btn">{{user}}</div>
  <button type="button" class="btn btn-danger navbar-btn" ng-click="logout()">Logout</button>
  <a href="home.html" class="btn btn-success navbar-btn">Home</a>
    <form class="navbar-form navbar-right" role="search">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Search tag" ng-model="search.tag">
	  </div>
	  <button class="btn btn-default" ng-click="searchtag(search.tag)">Search tag</button>
	</form>
  </div>
</nav>



<div class="container" style="width: 95%;">
<div class="row">
	<div class="col-xs-12 col-md-0"></div>

	<div class="container col-xs-12 col-md-12" >
		
		<br>
		<div class="container col-xs-12 col-md-3"></div>
		<div class="container col-xs-12 col-md-6">
		<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal">
  				<div class="form-group">
  					<label  class="col-sm-2 control-label">Link</label>
  					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.url" placeholder="Link">
					</div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.description" placeholder="Description">
					</div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">Tags</label>
					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.tags" placeholder="Tags">
						<span class="help-block">Separate by "<b>,</b>"</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-primary" ng-click="shortLink()">Short it!</button>
					</div>				
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						{{shortenUrl}}
					</div>
				</div>
			</form>
		</div>
		</div>
		</div>
		<div class="container col-xs-12 col-md-12" >{{whatis}}</div>
		<table class="table">
			<thead>
				<tr>
					<th>Short Link</th>
					<th>Full Link</th>
					<th>Counter</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="links in linkslist">
					<td><a href="{{links.short}}" target="_blank">{{links.short}}</a></td>
					<td><a href="{{links.url}}" target="_blank">{{links.url}}</a></td></td>
					<td>{{links.counter}}</td>
					<td><button class="btn btn-danger" ng-click="remove(links._id)">Remove</button>
					<a href="/info.html?id={{links._id}}" class="btn btn-info">Info</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-md-0"></div>

</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="controllers/controller.js"></script>
</body>
</html>