<!DOCTYPE html>
<html ng-app="Bitly">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Auth</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" style="width: 95%;">
	<div class="row">	
	<div class="col-xs-12 col-md-4"></div>
	<div class="container col-xs-12 col-md-4" ng-controller="Auth">
		<form class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputLogin" class="sr-only">Login</label>
			<input type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus ng-model="user.login">
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="user.password">        
			<button class="btn btn-lg btn-success btn-block" type="submit" ng-click="auth()">Sign in</button>
			<h4 align="center">or</h4>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="reg()">Registration</button>
			For registration write username and password into form above<br>
			<b>{{message}}</b>
		</form>
    </div>
	<div class="col-xs-12 col-md-4"></div>

	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="controllers/controller.js"></script>
</body>
</html>