<!DOCTYPE html>
<html ng-app="Bitly">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>Info </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="Info">	
<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="btn btn-info navbar-btn">{{user}}</div>
  <button type="button" class="btn btn-danger navbar-btn" ng-click="logout()">Logout</button>
  <a href="home.html" class="btn btn-success navbar-btn">Home</a>
    <form class="navbar-form navbar-right" role="search" action="home.html" method="GET">
	  <div class="form-group">
	    <input type="text" name="tag" class="form-control" placeholder="Search tag" ng-model="search.tag">
	  </div>
	  <button class="btn btn-default" type="submit">Search tag</button>
	</form>
  </div>
</nav>
<div class="container" style="width: 95%;">
<div class="row">
	<div class="col-xs-12 col-md-0"></div>

	<div class="container col-xs-12 col-md-12">
		{{user}} <a href="#" ng-click="logout()">Logout</a>
		<br>
		<div class="container col-xs-12 col-md-3"></div>
		<div class="container col-xs-12 col-md-6">
		<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal">
  				<div class="form-group">
  					<label  class="col-sm-2 control-label">Short Url</label>
  					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.short" disabled="1">
					</div>
				</div>
				<div class="form-group">
  					<label  class="col-sm-2 control-label">Full Url</label>
  					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.url" disabled="1">
					</div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">Description</label>
					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.description" placeholder="Description">
					</div>
				</div>
				<div class="form-group">
					<label  class="col-sm-2 control-label">Tags</label>
					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.tags" placeholder="Tags">
						<span class="help-block">Separate by "<b>,</b>"</span>
					</div>
				</div>
				<div class="form-group">
  					<label  class="col-sm-2 control-label">Counter</label>
  					<div class="col-sm-10">
						<input class="form-control" class="form-control" type="text" ng-model="bit.counter" disabled="1">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-primary" ng-click="edit()">Edit</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						{{message}}
					</div>
				</div>
			</form>
		</div>
		</div>
		</div>
		<div class="container col-xs-12 col-md-12" >
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Tags</h3>
		  </div>
		  <div class="panel-body">
		    <div ng-repeat="tag in tags">
				<h3><a href="home.html?tag={{tag}}"><span class="label label-success">{{tag}}</span></a></h3>
			</div>
		  </div>
		</div>
			
		</div>
		

	</div>
	<div class="col-xs-12 col-md-0"></div>

</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="controllers/controller.js"></script>
</body>
</html>